*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background: rgba(0, 0, 0, 0.822);
    color: white;
}
header{
    height: 50px;
    background: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header h1{
    font-size: 40px;
    color: white;
}
.container{
    margin: auto;
    margin-top: 40px;
    max-width: 70vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: rgb(5, 26, 26);
}
.game{
    margin-top: 20px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#seconds{
    color: red;
}
.game .word{
    margin: 10px;
    font-size: 70px;
    text-align: center;
}
.game .status{
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
}
.game .countdown{
    text-align: center;
}
.game input{
    padding: 5px;
    width: 400px;
    outline: none;
}
.game-scores{
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.instructions{
    width: 400px;
    height: 130px;
    background: grey;
    padding: 1rem;
}
.instructions h4{
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
}
.instructions .instruction{
    font-size: 15px;
}